<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="../../plugins/element-ui/index.css"/>
  <link rel="stylesheet" href="../../styles/common.css"/>
  <link rel="stylesheet" href="../../styles/page.css"/>
  <style>
      .selectInput {
          position: relative;
          width: 100%;
          min-width: 100px;
      }

      .selectInput .flavorSelect {
          position: absolute;
          width: 100%;
          padding: 0 10px;
          border-radius: 3px;
          border: solid 1px #FF903D;
          line-height: 30px;
          text-align: center;
          background: #fff;
          top: 50px;
          z-index: 99;
      }

      .selectInput .flavorSelect .items {
          cursor: pointer;
          display: inline-block;
          width: 100%;
          line-height: 35px;
          border-bottom: solid 1px #f4f4f4;
          color: #666;
      }

      .selectInput .flavorSelect .none {
          font-size: 14px;
      }

      #intelligence-add-app .uploadImg .el-form-item__label::before {
          content: '*';
          color: #F56C6C;
          margin-right: 4px;
      }

  </style>
</head>
<body>
<div class="addBrand-container" id="intelligence-add-app">
  <div class="container">
    <el-form
      ref="ruleForm"
      :model="ruleForm"
      :rules="rules"
      :inline="true"
      label-width="180px"
      class="demo-ruleForm"
    >
      <div>
        <el-form-item
          label="情报名称:"
          prop="name"
        >
          <el-input
            v-model="ruleForm.name"
            placeholder="请填写情报名称"
            maxlength="20"
            disabled/>
        </el-form-item>
        <el-form-item
          label="情报分类:"
          prop="intelligenceCategoryId"
        >
          <el-select
            v-model="ruleForm.intelligenceCategoryId"
            placeholder="请选择情报分类"
            disabled
          >
            <el-option v-for="(item,index) in categoryList" :key="index" :label="item.name" :value="item.id"/>
          </el-select>
        </el-form-item>
      </div>
      <div>
        <el-form-item
          label="情报价值:"
          prop="token"
        >
          <el-input
            v-model="ruleForm.token"
            placeholder="请设置情报价值"
            disabled
          />
        </el-form-item>

        <el-form-item
          label="情报hash值:"
          prop="fileHash"
        >
          <el-input
            placeholder="购买后才可查看"
            disabled
          />
        </el-form-item>
      </div>
      <div>
        <el-form-item
          label="情报图片:"
          prop="region"
          class="uploadImg"
          disabled
        >
          <img
            v-if="imageUrl"
            :src="imageUrl"
            class="avatar"
          ></img>
          <i
            v-else
            class="el-icon-plus avatar-uploader-icon"
          ></i>

        </el-form-item>
      </div>
      <div class="address">
        <el-form-item
          label="情报描述:"
          prop="region"
        >
          <el-input
            v-model="ruleForm.description"
            type="textarea"
            :rows="3"
            placeholder="情报描述，最长200字"
            maxlength="200"
            disabled
          />
        </el-form-item>
      </div>
      <div class="subBox address">
        <el-form-item>
          <el-button @click="goBack()">
            取消
          </el-button>
          <el-button
            type="primary"
            @click="classData.dialogVisible = true"
          >
            购买
          </el-button>

        </el-form-item>
      </div>
    </el-form>
  </div>

  <el-dialog
    :title="classData.title"
    :visible.sync="classData.dialogVisible"
    width="30%"
    :before-close="handleClose"
  >
    <span>是否购买该情报？</span>
    <span
      slot="footer"
      class="dialog-footer"
    >
        <el-button
          size="medium"
          @click="submitForm('ruleForm')"
        >确 定</el-button>
       </span>
  </el-dialog>

</div>
<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<script src="../../plugins/vue/vue.js"></script>
<!-- 引入组件库 -->
<script src="../../plugins/element-ui/index.js"></script>
<!-- 引入axios -->
<script src="../../plugins/axios/axios.min.js"></script>
<script src="../../js/request.js"></script>
<script src="../../js/validate.js"></script>
<script src="../../js/index.js"></script>
<script src="../../api/intelligence.js"></script>
<script>
  new Vue({
    el: '#intelligence-add-app',
    data() {
      return {
        id: '',
        restKey: 0,
        textarea: '',
        value: '',
        imageUrl: '',
        actionType: '',
        categoryList: [],
        vueRest: '1',
        index: 0,
        inputStyle: {'flex': 1},
        ruleForm: {
          'name': '',
          'id': '',
          'userId': '',
          'token': '',
          'fileHash': '',
          'image': '',
          'description': '',
          'status': true,
          intelligenceCategoryId: ''
        },
        classData: {
          'title': '购买情报确认',
          'dialogVisible': false,
        },
        mak: false
      }
    },
    computed: {
      rules() {
        return {
          'name': [
            {'required': true, 'message': '请填写情报名称', 'trigger': 'blur'}
          ],
          'intelligenceCategoryId': [
            {'required': true, 'message': '请选择情报分类', 'trigger': 'change'}
          ],
          'token': [
            {
              'required': true,
              validator: (rules, value, callback) => {
                if (!value) {
                  callback(new Error('请填写情报价值'))
                } else {
                  const reg = /^\d+(\.\d{0,2})?$/
                  if (reg.test(value)) {
                    if (value < 10000) {
                      callback()
                    } else {
                      callback(new Error('情报价值要小于10000！'))
                    }
                  } else {
                    callback(new Error('情报价值格式只能为数字,且最多保留两位小数'))
                  }
                }
              },
              'trigger': 'blur'
            }
          ],
        }
      }
    },
    created() {
      this.getIntelligenceList()
      this.id = requestUrlParam('id')
      this.actionType = this.id ? 'edit' : 'add'
      if (this.id) {
        this.init()
      }
    },
    mounted() {
    },
    methods: {
      async init() {
        queryIntelligenceById(this.id).then(res => {
          console.log(res)
          if (String(res.code) === '1') {
            this.ruleForm = {...res.data}
            this.ruleForm.status = res.data.status == '1'
            this.imageUrl = `/common/download?name=${res.data.image}`
          } else {
            this.$message.error(res.msg || '操作失败')
          }
        })
      },
      // 获取情报分类
      getIntelligenceList() {
        getCategoryList().then(res => {
          if (res.code === 1) {
            this.categoryList = res.data
          } else {
            this.$message.error(res.msg || '操作失败')
          }
        })
      },

      // 关闭弹窗
      handleClose(st) {
        this.classData.dialogVisible = false
      },

      inputHandle(val, index) {
        // this.selectFlavor(false,index)
      },

      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
          if (valid) {
            let params = this.ruleForm.id
            console.log(this.ruleForm.id)
            buyIntelligence(params).then(res => {
              if (res.code === 1) {
                this.$message.success('情报购买成功！')
                this.goBack()
              } else {
                this.$message.error(res.msg || '操作失败')
              }
            }).catch(err => {
              this.$message.error('请求出错了：' + err)
            })
          } else {
            return false
          }
          this.classData.dialogVisible = false
        })
      },

      handleAvatarSuccess(response, file, fileList) {
        // 拼接down接口预览
        if (response.code === 0 && response.msg === '未登录') {
          window.top.location.href = '/backend/page/login/login.html'
        } else {
          this.imageUrl = `/common/download?name=${response.data}`
          this.ruleForm.image = response.data
        }
      },

      goBack() {
        window.parent.menuHandle({
          id: '4',
          url: '/backend/page/intelligence/list.html',
          name: '情报交易'
        }, false)
      }
    }
  })
</script>
</body>
</html>