@font-face {
  font-family: "iconfont"; /* Project id 3510367 */
  src: url('iconfont.woff2?t=1659424054957') format('woff2'),
       url('iconfont.woff?t=1659424054957') format('woff'),
       url('iconfont.ttf?t=1659424054957') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-huangguan:before {
  content: "\f057";
}

.icon-xuanshang1:before {
  content: "\e677";
}

.icon-renwu1:before {
  content: "\e649";
}

.icon-shouye:before {
  content: "\e601";
}

.icon-renfangqingbao:before {
  content: "\e669";
}

.icon-jiaoyisuo:before {
  content: "\e603";
}

.icon-licai:before {
  content: "\e600";
}

.icon-renwu:before {
  content: "\e63f";
}

