<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="../../plugins/element-ui/index.css"/>
  <link rel="stylesheet" href="../../styles/common.css"/>
  <link rel="stylesheet" href="../../styles/page.css"/>
  <style>
  </style>
</head>
<body>
<div class="dashboard-container" id="food-app">
  <div class="container">
    <div class="tableBar">
      <el-input
        v-model="input"
        placeholder="请输入情报名称"
        style="width: 250px"
        clearable
        @keyup.enter.native="handleQuery"
      >
        <i
          slot="prefix"
          class="el-input__icon el-icon-search"
          style="cursor: pointer"
          @click="init"
        ></i>
      </el-input>
      <div class="tableLab">
        <span class="span-btn blueBug non" @click="addCoTaskHandle('批量', null)">批量添加至协同任务</span>
        <el-button
          type="primary"
          @click="addIntelligenceType('add')"
        >
          + 发布情报
        </el-button>
      </div>
    </div>
    <el-table
      :data="tableData"
      stripe
      class="tableBox"
      @selection-change="handleSelectionChange"
    >
      <el-table-column
        type="selection"
      ></el-table-column>
      <el-table-column
        width="170"
        prop="name"
        label="情报名称"
      ></el-table-column>
      <el-table-column
        prop="fromUserName"
        label="发布者"
      ></el-table-column>
      <el-table-column
        prop="toUserName"
        label="购买者"
      ></el-table-column>
      <el-table-column prop="image" label="图片" align="center">
        <template slot-scope="{ row }">
          <el-image style="width: auto; height: 40px; border:none;cursor: pointer;"
                    :src="getImage(row.image)"
                    :preview-src-list="[ `/common/download?name=${row.image}` ]">
            <div slot="error" class="image-slot">
              <img src="./../../images/noImg.png" style="width: auto; height: 40px; border:none;">
            </div>
          </el-image>
        </template>
      </el-table-column>
      <el-table-column
        prop="intelligenceCategoryName"
        label="情报分类"
      ></el-table-column>
      <el-table-column label="情报价值">
        <template slot-scope="scope">
          <span style="margin-right: 10px;">￥{{ scope.row.token }}</span>
        </template>
      </el-table-column>
      <el-table-column label="情报状态" width="80">

        <template slot-scope="scope">
          <span style="margin-right: 10px;">{{ scope.row.status == '0' ? '停用' : '启用' }}</span>
        </template>
      </el-table-column>
      <el-table-column label="情报来源">
        <template slot-scope="scope">
          <span style="margin-right: 10px;">{{ scope.row.origin }}</span>
        </template>
      </el-table-column>

      <el-table-column
        width="140"
        prop="updateTime"
        label="最后操作时间"
      >
      </el-table-column>
      <el-table-column
        label="操作"
        width="230"
        align="center"
      >
        <template slot-scope="scope">
          <el-button
            type="text"
            size="small"
            class="blueBug"
            @click="addCoTaskHandle('',scope.row.intelligenceId)"
          >
            添加至协同任务
          </el-button>
          <el-button
            type="text"
            size="small"
            class="delBut non"
            @click="queryFileHashHandle(scope.row)"
          >
            查看情报Hash值
          </el-button>

        </template>
      </el-table-column>
    </el-table>
    <el-pagination
      class="pageList"
      :page-sizes="[10, 20, 30, 40]"
      :page-size="pageSize"
      layout="total, sizes, prev, pager, next, jumper"
      :total="counts"
      @size-change="handleSizeChange"
      :current-page.sync="page"
      @current-change="handleCurrentChange"
    ></el-pagination>
  </div>

  <el-dialog
    :title="coTaskData.title"
    :visible.sync="coTaskData.dialogVisible"
    width="30%"
    :before-close="handleClose"
  >
    <div class="container">
      <el-form
        ref="ruleForm"
        :model="ruleForm"
        :inline="true"
        label-width="180px"
        class="demo-ruleForm"
      >
        <div>
          <el-form-item
            label="协同任务名:"
            prop="name"
            label-width="100px"
          >
            <el-input
              v-model="ruleForm.name"
              placeholder="请填写任务名称"
              maxlength="20"
            />
          </el-form-item>
          <el-form-item
            label="任务描述:"
            prop="name"
            label-width="100px"
          >
            <el-input
              v-model="ruleForm.description"
              type="textarea"
              :rows="3"
              placeholder="情报描述，最长200字"
              maxlength="200"
            />
          </el-form-item>
        </div>
      </el-form>
    </div>

    <span
      slot="footer"
      class="dialog-footer"
    >
        <el-button
          size="medium"
          @click="submitCoTask()"
        >确 定</el-button>
        <el-button
          size="medium"
          @click="classData.dialogVisible = false"
        >取消</el-button>
    </span>

  </el-dialog>

  <el-dialog
    :title="classData.title"
    :visible.sync="classData.dialogVisible"
    width="30%"
    :before-close="handleClose"
  >
    <el-table
      :data="fileTable"
      stripe
      class="tableBox"
    >
      <el-table-column
        prop="name"
        label="情报名"
      ></el-table-column>
      <el-table-column
        prop="fileHash"
        label="情报hash"
      ></el-table-column>
    </el-table>

    <span
      slot="footer"
      class="dialog-footer"
    >
        <el-button
          size="medium"
          @click="classData.dialogVisible = false"
        >确 定</el-button>
        <el-button
          size="medium"
          @click="classData.dialogVisible = false"
        >从IPFS获取情报文件</el-button>
    </span>
  </el-dialog>
</div>
<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<script src="../../plugins/vue/vue.js"></script>
<!-- 引入组件库 -->
<script src="../../plugins/element-ui/index.js"></script>
<!-- 引入axios -->
<script src="../../plugins/axios/axios.min.js"></script>
<script src="../../js/request.js"></script>
<script src="../../api/userIntelligence.js"></script>
<script>
  new Vue({
    el: '#food-app',
    data() {
      return {
        input: '',
        counts: 0,
        page: 1,
        pageSize: 10,
        tableData: [],
        intelligenceState: '',
        checkList: [],
        classData: {
          'title': '查看情报Hash值',
          'dialogVisible': false,
        },
        ruleForm: {
          name: '',
          description: ''
        },
        coTaskData: {
          'title': '添加协同任务',
          'dialogVisible': false,
          intelligenceId: '',
          type: ''
        },
        fileTable: []
      }
    },
    computed: {},
    created() {
      this.init()
      this.user = JSON.parse(localStorage.getItem('userInfo')).username
    },
    mounted() {
    },
    methods: {
      async init() {
        const params = {
          page: this.page,
          pageSize: this.pageSize,
          name: this.input ? this.input : undefined
        }
        await getIntelligencePage(params).then(res => {
          if (String(res.code) === '1') {
            this.tableData = res.data.records || []
            this.counts = res.data.total
          }
        }).catch(err => {
          this.$message.error('请求出错了：' + err)
        })
      },
      getImage(image) {
        return `/common/download?name=${image}`
      },
      handleQuery() {
        this.page = 1;
        this.init();
      },
      //添加情报到协同任务
      addCoTaskHandle(type, id) {
        if (type === '批量' && id === null) {
          if (this.checkList.length === 0) {
            return this.$message.error('请选择要添加至协同任务的情报！')
          }
        }
        console.log(id)
        this.$confirm('确认将所选情报生成协同任务, 是否继续?', '确定添加', {
          'confirmButtonText': '确定',
          'cancelButtonText': '取消',
        }).then(
          () => {
            this.coTaskData.dialogVisible = true
            this.coTaskData.intelligenceId = id
            this.coTaskData.type = type
          }
        )
      },
      submitCoTask() {
        let params = {
          name: this.ruleForm.name,
          intelligenceIds: '',
          description: this.ruleForm.description
        }
        if (this.coTaskData.type === '批量') {
          params.intelligenceIds = this.checkList.join(',')
        } else {
          params.intelligenceIds = this.coTaskData.intelligenceId
        }
        addCoTask(params).then(res => {
          if (res.code === 1) {
            this.$message.success('生成研判任务成功！')
            this.handleQuery()
            this.coTaskData.dialogVisible = false
          } else {
            this.$message.error(res.msg || '操作失败')
            this.coTaskData.dialogVisible = false
          }
        }).catch(err => {
          this.$message.error('请求出错了：' + err)
        })
      },
      queryFileHashHandle(row) {
        this.$set(this.fileTable, 0, {name: row.name, fileHash: row.fileHash})
        this.classData.dialogVisible = true
      },
      // 删除
      deleteHandle(type, id) {
        if (type === '批量' && id === null) {
          if (this.checkList.length === 0) {
            return this.$message.error('请选择删除对象')
          }
        }
        this.$confirm('确认删除该情报, 是否继续?', '确定删除', {
          'confirmButtonText': '确定',
          'cancelButtonText': '取消',
        }).then(() => {
          deleteIntelligence(type === '批量' ? this.checkList.join(',') : id).then(res => {
            if (res.code === 1) {
              this.$message.success('删除成功！')
              this.handleQuery()
            } else {
              this.$message.error(res.msg || '操作失败')
            }
          }).catch(err => {
            this.$message.error('请求出错了：' + err)
          })
        })
      },

      //状态更改
      statusHandle(row) {
        let params = {}
        if (typeof row === 'string') {
          if (this.checkList.length === 0) {
            this.$message.error('批量操作，请先勾选操作情报！')
            return false
          }
          params.id = this.checkList.join(',')
          params.status = row
        } else {
          params.id = row.id
          params.status = row.status ? '0' : '1'
        }
        this.intelligenceState = params
        this.$confirm('确认更改该情报状态?', '提示', {
          'confirmButtonText': '确定',
          'cancelButtonText': '取消',
          'type': 'warning'
        }).then(() => {
          // 起售停售---批量起售停售接口
          intelligenceStatusByStatus(this.intelligenceState).then(res => {
            if (res.code === 1) {
              this.$message.success('情报状态已经更改成功！')
              this.handleQuery()
            } else {
              this.$message.error(res.msg || '操作失败')
            }
          }).catch(err => {
            this.$message.error('请求出错了：' + err)
          })
        })
      },
      // 关闭弹窗
      handleClose(st) {
        this.classData.dialogVisible = false
        this.coTaskData.dialogVisible = false
      },

      // 勾选复选框操作
      handleSelectionChange(val) {
        let checkArr = []
        val.forEach((n) => {
          checkArr.push(n.intelligenceId)
        })
        this.checkList = checkArr
      },

      handleSizeChange(val) {
        this.pageSize = val
        this.init()
      },
      handleCurrentChange(val) {
        this.page = val
        this.init()
      }
    }
  })
</script>
</body>
</html>