<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <!-- 引入样式 -->
        <link rel="stylesheet" href="../../plugins/element-ui/index.css" />
        <link rel="stylesheet" href="../../styles/common.css" />
        <link rel="stylesheet" href="../../styles/page.css" />
    </head>

    <body>
        <div class="addBrand-container" id="task-add-app">
            <div class="container">
                <el-form ref="ruleForm" :model="ruleForm" :inline="false" label-width="180px" class="demo-ruleForm">
                    <el-form-item prop="cotaskingId"></el-form-item>
                    <el-form-item label="研判任务简要需求:" prop="name">
                        <el-input v-model="ruleForm.name" placeholder="请输入研判任务简要需求" maxlength="20" />
                    </el-form-item>
                    <el-form-item label="任务分类:">
                        <el-cascader v-model="ruleForm.category" :options="options" :props="defaultParams"></el-cascader>
                    </el-form-item>
                    <el-form-item label="任务有效时间:">
                        <div class="block">
                            <el-date-picker
                                v-model="ruleForm.taskTime"
                                type="datetimerange"
                                range-separator="至"
                                start-placeholder="开始日期"
                                end-placeholder="结束日期"
                                value-format="yyyy-MM-dd hh:mm:ss"
                            ></el-date-picker>
                        </div>
                    </el-form-item>
                    <el-form-item label="任务金额:" prop="token">
                        <el-input v-model="ruleForm.token" placeholder="请输入任务金额" maxlength="20" />
                    </el-form-item>
                    <el-form-item label="是否公开:" prop="open">
                        <el-radio-group v-model="ruleForm.open">
                            <el-radio v-model="radio" label="1">公开</el-radio>
                            <el-radio v-model="radio" label="0">私有</el-radio>
                        </el-radio-group>
                    </el-form-item>
                    <el-form-item label="私有化规则:" prop="policy" v-if="ruleForm.open==0">
                        <el-input
                            type="textarea"
                            :rows="2"
                            placeholder="请输入接单规则（为了测试仅使用单位作为限制），请输入具体单位名称"
                            v-model="ruleForm.policy"
                        ></el-input>
                    </el-form-item>

                    <div class="subBox address">
                        <el-form-item>
                            <el-button @click="goBack()">取消</el-button>
                            <el-button type="primary" @click="submitForm('ruleForm', false)">保存</el-button>
                            <el-button v-if="actionType === 'add'" type="primary" class="continue" @click="submitForm('ruleForm', true)">
                                保存并继续添加
                            </el-button>
                        </el-form-item>
                    </div>
                </el-form>
            </div>
        </div>
        <!-- 开发环境版本，包含了有帮助的命令行警告 -->
        <script src="../../plugins/vue/vue.js"></script>
        <!-- 引入组件库 -->
        <script src="../../plugins/element-ui/index.js"></script>
        <!-- 引入axios -->
        <script src="../../plugins/axios/axios.min.js"></script>
        <script src="../../js/request.js"></script>
        <script src="../../api/task.js"></script>
        <script src="../../js/validate.js"></script>
        <script src="../../js/index.js"></script>
        <script>
            new Vue({
                el: '#task-add-app',
                data() {
                    return {
                        id: '',
                        actionType: 'add',
                        radio: '1',
                        ruleForm: {
                            cotaskingId: '',
                            taskCategoryId: '',
                            decideInfoCategoryId: '',
                            beginTime: '',
                            endTime: '',
                            open: '1',
                        },
                        value: [],
                        options: [],
                        defaultParams: {
                            label: 'name',
                            value: 'id',
                            children: 'children',
                        },
                        taskTime: '',
                    };
                },
                created() {
                    this.id = requestUrlParam('id');
                    if (this.id) {
                        this.init();
                    }
                },
                mounted() {},
                methods: {
                    async init() {
                        // 用于获取任务的分类
                        getDecideInfoCategoryWithTaskCategory().then(res => {
                            console.log(res);
                            this.options = res.data;
                        });
                    },
                    submitForm(formName, st) {
                        this.ruleForm.cotaskingId = this.id;
                        this.ruleForm.taskCategoryId = this.ruleForm.category[0];
                        this.ruleForm.decideInfoCategoryId = this.ruleForm.category[1];
                        this.ruleForm.beginTime = this.ruleForm.taskTime[0];
                        this.ruleForm.endTime = this.ruleForm.taskTime[1];
                        if (this.actionType === 'add') {
                            var params = {
                                ...this.ruleForm,
                            };
                            console.log(params);
                            addTask(params)
                                .then(res => {
                                    if (res.code === 1) {
                                        this.$message.success('任务添加成功！');
                                        if (!st) {
                                            this.goBack();
                                        } else {
                                            this.ruleForm = {
                                                cotaskingId: this.id,
                                                name: '',
                                                category: '',
                                                taskTime: '',
                                                token: '',
                                                open: '1',
                                                policy: '',
                                                taskCategoryId: '',
                                                decideInfoCategoryId: '',
                                                beginTime: '',
                                                endTime: '',
                                            };
                                        }
                                    } else {
                                        this.$message.error(res.msg || '操作失败');
                                    }
                                })
                                .catch(err => {
                                    this.$message.error('请求出错了：' + err);
                                });
                        }
                    },
                    goBack() {
                        window.parent.menuHandle(
                            {
                                id: '7',
                                url: '/backend/page/cotask/list.html',
                                name: '我的协同任务',
                            },
                            false
                        );
                    },
                },
            });
        </script>
    </body>
</html>
